/* Default branch */




/*------------------------------------*\
    $ COMMON
\*------------------------------------*/



/* jQuery UI */




/*------------------------------------*\
    $ WRAPPERS
\*------------------------------------*/




/*------------------------------------*\
    $ HEADER
\*------------------------------------*/



/* Login and Post-login forms */





/*------------------------------------*\
    $ SUBHEADER
\*------------------------------------*/



/*------------------------------------*\
    $ MENUS
\*------------------------------------*/



/* Main Menu */



/* jQuery UI Tabs */




/*------------------------------------*\
    $ MAIN
\*------------------------------------*/



/* Slider */



/* Jackpots */




/*------------------------------------*\
    $ SUBSLIDER
\*------------------------------------*/



/* Winner list */




/*------------------------------------*\
    $ GAMES
\*------------------------------------*/

.gameJackpot {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -100px;
    color: #fff;
    text-align: center;
}
.gameJackpotValue {
    display: inline-block;
    padding: 0 10px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.8);
}


/*------------------------------------*\
    $ FOOTER
\*------------------------------------*/



/*------------------------------------*\
    $ POPUPS
\*------------------------------------*/




/*------------------------------------*\
    $ PAGES (common)
\*------------------------------------*/



/* Register */
#registerBirthmonth, #registerBirthday, #registerBirthyear {
    padding-left: 5px;
}


/* Forget password */



/* Contact us */
#contactSuccess {
    width: 340px;
}


/* Login / Register box */



/* Reset password */



/* Game page */




/*------------------------------------*\
    $ PAGES (post-login)
\*------------------------------------*/



/* My Account */



/* Deposit */



/* Withdrawal */




/*------------------------------------*\
    $ OTHER
\*------------------------------------*/




/*------------------------------------*\
    $ RESPONSIVENESS (inheritable)
\*------------------------------------*/

/* XS */

@media (min-width: 480px) {

}

/* SM */

@media (min-width: 768px) {

}

/* MD */

@media (min-width: 992px) {

}

/* LG */

@media (min-width: 1200px) {

}


/*------------------------------------*\
    $ RESPONSIVENESS (main)
\*------------------------------------*/

@media (max-width: 479px) {

}

/* XS */

@media (min-width: 480px) and (max-width: 767px) {

}

/* SM */

@media (min-width: 768px) and (max-width: 991px) {

}

/* MD */

@media (min-width: 992px) and (max-width: 1199px) {

}

/* LG */

@media (min-width: 1200px) {

}