/* Default branch */

body {
    background-color: #EAEAEA;
}
a,
a:hover,
a:focus,
a:active,
a:link:focus,
a:visited:focus {
    outline: none;
    cursor: pointer;
}


/*------------------------------------*\
    $ COMMON
\*------------------------------------*/

.container {
    /* Minimal width of main wrappers */
    min-width: 320px;
}

.note {
    font-size: 10px;
}
.error {
    color: #A94442;
}
.error-field,
.form-group .error-field {
    min-height: 17px;
    padding-top: 2px;
    margin-top: 0;
    margin-bottom: 0;
    color: #A94442;
    font-size: 10px;
    font-style: italic;
}
.alert-dismissable {
    padding-right: 15px;
}
.placeholderstyle {
    color: #AAAAAA;
}
/* Fix for Bootstrap 3.2.0 bug */
.dropup {
    position: relative;
}
.form-control-feedback {
    top: auto !important;
    width: 18px;
    margin-top: -34px;
    margin-right: 16px;
}
i.fa-question,
i.fa-check {
    position: absolute;
    top: 8px;
    left: 0;
    padding: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
i.fa-question {
    background: #333333;
}
i.fa-check {
    background: #3C763D;
}
i.fa-question:before,
i.fa-check:before {
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: #fff;
    vertical-align: top;
}
.has-feedback .form-control {
    padding-right: 34px;
}
.has-feedback .input-group .form-control {
    padding-right: 12px;
}
.has-feedback .input-group .input-group-addon {
    padding-right: 46px;
}

.field-info-wrapper {
    width: 100%;
    position: relative;
}
.field-info {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    margin: -10px 40px 0 10px;
    z-index: 999;
    font-size: 10px;
}

.not-used {
    display: none !important;
    visibility: hidden !important;
}
.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.list-unstyled {
    margin-bottom: 0;
}

.btn.btn-lg {
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 18px;
}

.form-group {
    min-height: 77px;
    margin-bottom: 0;
}
.form-horizontal .form-group {
    min-height: 51px;
}
.form-horizontal .control-label,
.form-horizontal .checkbox,
.form-horizontal .radio {
    margin-bottom: 5px;
}
.control-label label,
.form-horizontal .control-label label {
    padding-top: 0;
    font-weight: 700;
}

@media all {

    /* It is necessary to be wrapped by "@media",
       otherwise it will be rewritten in IE8 by Respond.js
       (because Bootstrap.css has wrapped these rules by "@media") */

    .form-inline .form-group {
        min-height: 0;
    }
    .form-inline .form-group,
    .form-inline .checkbox,
    .form-inline .radio,
    .form-inline .btn {
        margin-bottom: 7px;
        vertical-align: middle;
    }

}

.form-control-static {
    display: block;
}
.form-control-datepicker {
    display: inline-block;
    position: relative;
    margin-right: 34px;
    vertical-align: top;
}
.form-control-datepicker .form-control {
    width: 135px;
    display: inline-block;
}
.form-control-datepicker label {
    cursor: pointer;

}
.form-control-datepicker .ui-datepicker-trigger {
    position: absolute;
    top: 0;
    right: -34px;
}
.has-feedback .form-control-datepicker .form-control-feedback {
    top: 0;
    right: 0;
}
.has-feedback .control-label.hide ~ .form-control-feedback,
.has-feedback .control-label.sr-only ~ .form-control-feedback {
    top: 0;
}

.labels label.radio-inline {
    margin-left: 0;
    margin-right: 10px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #EAEAEA;
}

.progress-bar:before,
.progress-bar:after {
    content: "\00a0\00a0";
}
.progress-hint {
    position: relative;
}
.progress-hint i {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
}
.progress-hint span {
    width: 200px;
    display: none;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 2px 5px;
    margin: 0;
    font-size: 10px;
    z-index: 999;
}
.progress-hint i:hover + span {
    display: block;
}

/* jQuery UI */

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: inherit;
    font-size: inherit;
}
.ui-widget-content {
    color: inherit;
}
.ui-widget-content a.btn {
    color: #fff;
}
.ui-widget-content a.btn.btn-default {
    color: #333;
}
.ui-datepicker-trigger {
    width: 34px;
    height: 34px;
    cursor: pointer;
}
#ui-datepicker-div {
    z-index: 2 !important;
}

/*------------------------------------*\
    $ WRAPPERS
\*------------------------------------*/

#wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*------------------------------------*\
    $ HEADER
\*------------------------------------*/

#header {
    margin-bottom: 20px;
}
#logo {
    width: 100%;
    height: 120px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url('../../cms/images/logo.png') no-repeat left top transparent;
}

/* Login and Post-login forms */

.loginformTitle {
    display: none;
}
#login_error,
#error {
    margin-bottom: 10px;
}
#login_form,
#postlogin_form {
    position: relative;
    padding: 15px 15px 8px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #FAFAFA;
    float: right;
}
#forgotPass,
#languageWrapper_login,
#languageWrapper_postlogin {
    display: inline-block;
    margin-bottom: 7px;
    vertical-align: bottom;
}
#rememberMeBox {
    vertical-align: bottom;
}
#postlogin_form_account {
    margin-bottom: 7px;
}
#mainUserLoyaltyTier,
#freeSpins {
    display: inline-block;
    margin-left: 5px;
}
#refreshFreeSpins {
    display: none;
    cursor: pointer;
}
#loginSubmitHidden {
    display: none;
}

/* Balance Drop down */
/* Promo balance*/
#promo_balance_wrapper.dropdown .dropdown-menu {
    padding: 6px 10px;
}
#promo_balance_wrapper.dropdown .dropdown-menu .progress {
    margin-bottom: 6px;
}
#promo_balance_wrapper.dropdown .dropdown-menu .progress-label {
    font-size: 12px;
}
#promo_balance_wrapper.dropdown #promo_balance {
    cursor: pointer;
}
#promo_balance_wrapper.dropdown.dropdown-off #promo_balance {
    cursor: auto;
}
#promo_balance_wrapper.dropdown.dropdown-off .dropdown-menu {
    display: none !important;
}

/* Total balance*/
#postlogin_form_deposit > span {
    display: inline-block;
}
#postlogin_form_deposit > .is-shown + .is-shown {
    padding-left: 7px;
    margin-left: 5px;
    border-left: 1px solid #ddd;
}
#bonus_balance {
    margin-bottom: 0;
    color: #555;
    text-decoration: none;
}
#postlogin_form_deposit .dropdown .dropdown-menu {
    margin-top: 0;
    padding: 2px 0 0;
    box-shadow: none;
    border: 0;
    background: transparent;
}
#postlogin_form_deposit .dropdown .dropdown-menu-content {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #fff;
}
#postlogin_form_deposit .dropdown .dropdown-menu-content > div {
    margin: 5px 0;
}
#postlogin_form_deposit .dropdown .dropdown-menu-content .form-inline {
    text-align: center;
}
#postlogin_form_deposit .dropdown .dropdown-menu .progress-label {
    float: left;
}
#postlogin_form_deposit .dropdown .dropdown-menu .progress {
    min-width: 100px;
    margin-bottom: 6px;
}
#postlogin_form_deposit .dropdown .dropdown-menu .progress-hint {
    float: right;
}
#postlogin_form_deposit .dropdown #total_balance {
    cursor: pointer;
}
#postlogin_form_deposit .dropdown.dropdown-off #total_balance {
    cursor: auto;
}
#postlogin_form_deposit .dropdown.dropdown-off .dropdown-menu {
    display: none !important;
}
#postlogin_form_deposit .dropdown .progress-bar {
    color: #000;
}
#postlogin_form_deposit .dropdown:hover .dropdown-menu {
    display: block;
}
.bonus_row{
    width:420px;
    display: block;
    padding: 10px;
}
#postlogin_form_deposit .dropdown #total_balance + .dropdown-menu {
    min-width: 240px;
}
#cash_balance_value,
#promo_balance_value,
#scash_balance_value,
#total_balance_value_dropdown,
#award_balance_value {
    float: right;
    font-weight: 700;
}

/*------------------------------------*\
    $ SUBHEADER
\*------------------------------------*/

#subheader {
    margin-bottom: 20px;
}


/*------------------------------------*\
    $ MENUS
\*------------------------------------*/

/* Main Menu */

#homelink {
    display: block;
    float: left;
    top: 0;
    padding: 10px 15px;
    margin-right: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

#menu > li {
    padding-bottom: 2px;
}
#menu > li > a:hover,
#menu > li > a:focus,
#homelink:hover,
#homelink:focus {
    background-color: #FAFAFA;
}
#menu > li.active > a,
#menu > li.active > a:hover,
#menu > li.active > a:focus {
    background-color: #428BCA;
}
#menu .dropdown-menu {
    margin: 0;
}

/* jQuery UI Tabs */

.ui-tabs {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: none;
}
.ui-tabs .ui-tabs-nav {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 25px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: none;
}
.ui-tabs .ui-tabs-panel {
    padding: 0;
}

/* jQuery UI Accordion */

.ui-accordion {
    clear: both;
}


/*------------------------------------*\
    $ MAIN
\*------------------------------------*/

#main_onepart,
#main_leftpart,
#main_rightpart {
    margin-bottom: 20px;
}
#content {
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
}
#content_rightPlace {
    display: none;
}

/* Slider */

#slider {
    min-height: 40px;
}
#slider ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Jackpots */

#progressivejackpot {
    margin-top: 15px;
    text-align: center;
}
#jackpotslider {
    height: 160px;
    position: relative;
    overflow: hidden;
}
#jackpotslidertextwrapper {
    width: 100%;
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
}
.jackpotitem {
    width: 100%;
}
.jackpotitem a {
    display: inline-block;
}
.jackpotitem img {
    width: 150px;
    height: auto;
    display: inline-block;
}


/*------------------------------------*\
    $ SUBSLIDER
\*------------------------------------*/

#subslider {
    margin-bottom: 20px;
}

/* Winner list */

#winnerRow {
    padding-left: 100px;
    color: #FFF;
    background: url(../../cms/images/winners.png) no-repeat left center #222;
}
#winnerrowleft {
    display: none;
}
#winnerSlider {
    height: 28px;
    position: relative;
    overflow: hidden;
    line-height: 28px;
}
#winnerSliderTextWrapper {
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
}


/*------------------------------------*\
    $ GAMES
\*------------------------------------*/

#gamecontent {
    margin-bottom: 20px;
}
#games {
    margin-left: 0;
    margin-right: 0;
}
#gameGroupTitle {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.game,
.promotedGame {
    padding-left: 0;
    padding-right: 0;
}
.gameInner,
.promotedGameElementContent {
    padding: 15px;
}
.gameInner:after,
.promotedGameElementConten:after {
    content: "";
    display: table;
    clear: both;
}
.gameInner:hover,
.promotedGameElementContent:hover {
    background-color: #EEEEEE;
}
.gameElementContent,
.promotedGameElementContent {
    position: relative;
}
.gameElementContent > img,
.promotedGameElementContent > img {
    margin-bottom: 10px;
}
.gameElementContentNewImgWrapper,
.gameElementContentFreespinsImgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gameElementContentNewImg,
.gameElementContentFreespinsImg {
    background: transparent;
}
.gameTitleWrapper,
.promotedGameTitleWrapper {
    height: 60px;
    overflow: hidden;
    text-align: center;
}
.gameTitleContent,
.promotedGameTitleContent {
    color: #FF670F;
}
.gameElementContent_playButtonWrapper,
.promotedGame_playButtonWrapper {
    text-align: center;
}
.gameElement_demoButton,
.gameElement_realButton {
    margin-top: 10px;
}
.gameElement_realButton.lockBackground,
.promotedGame_realButton.promotedGamelockBackground,
.liveGameElement_realButton.liveGamelockBackground {
    background-color: #D9534F;
    border-color: #D43F3A;
}
.gameElement_realButton.lockBackground:hover,
.promotedGame_realButton.promotedGamelockBackground:hover,
.liveGameElement_realButton.liveGamelockBackground:hover,
.gameElement_realButton.lockBackground:focus,
.promotedGame_realButton.promotedGamelockBackground:focus,
.liveGameElement_realButton.liveGamelockBackground:focus,
.gameElement_realButton.lockBackground:active,
.promotedGame_realButton.promotedGamelockBackground:active,
.liveGameElement_realButton.liveGamelockBackground:active {
    background-color: #D2322D;
    border-color: #AC2925;
}
.gameJackpotTitle {
    display: none;
}
.gameJackpotValue {
    text-align: center;
}

#gamelistpaginator,
#viewmorebutton {
    margin-top: 10px;
    text-align: center;
}
#gamelistpaginator a,
#gamelistpaginator span {
    padding-left: 5px;
    padding-right: 5px;
}
#viewmorebutton span {
    cursor: pointer;
}

/* View of games list as text */

#games.view-text .gameTitleWrapper {
    width: 45%;
    float: left;
}
#games.view-text .gameElement_demoButton,
#games.view-text .gameElement_realButton {
    margin-top: 0;
}

#games.view-text .favouriteGameIcon {
    margin-top: -2px;
}

/* Games Search */

#gamesSearchForm {
    text-align: right;
}
#gamesSearchSorting,
#gamesSearchFiltering,
#gamesListView,
#gamesSearchSortingWrapper {
    display: inline-block;
    margin-left: 20px;
}
#gamesSearchKeywordIconRemove {
    cursor: pointer;
}
#gamesSearchKeywordWrapper:hover #gamesSearchKeywordIconSearch {
    display: none !important;
}
#gamesSearchKeywordWrapper:hover #gamesSearchKeywordIconRemove {
    display: inline-block !important;
}
#games .highlight {
    font-weight: bold;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}
.dropdown-menu>li.selected>a {
    background-color: #f5f5f5;
}

/* Favourite Game */

.favouriteGameIcon {
    margin-top: 8px;
}
.favouriteGameIcon:before {
    content:"\e143"
}
.favouriteGameIcon.active:before {
    content:"\e005"
}
.favouriteGameIcon.pending:before,
.favouriteGameIcon.pending.active:before {
    content:"..."
}

/*------------------------------------*\
    $ FOOTER
\*------------------------------------*/

#footer {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    background: #666;
}
#footerMenu {
    padding-left: 0;
    list-style: none;
    text-align: center;
}
#footerMenu > li {
    display: inline;
}
#footerMenu > li > a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
#shareIconsPaymentsAndVerify {
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}
#shareBox {
    width: 300px;
    float: left;
}
#payments {
    width: 80%;
    position: relative;
    margin: 20px auto;
}
#payments > img {
    width: 124px;
    margin-right: 1px;
    margin-bottom: 1px;
}
#copyrightText {
    margin: 30px 0 0;
    text-align: center;
}


/*------------------------------------*\
    $ POPUPS
\*------------------------------------*/

.popup {
    max-width: 850px;
    padding: 0 15px;
}


/*------------------------------------*\
    $ PAGES (common)
\*------------------------------------*/

#registerWrapper_curtain,
#forgotPwdWrapper_curtain,
#contactWrapper_curtain {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Register */

#registerWrapper {
    position: relative;
}
#register_form {
    margin-top: 25px;
}

#li_address .row,
#li_residentialAddress .row {
    margin-right: 0;
    margin-left: 0;
}
#li_address .row > div,
#li_residentialAddress .row > div {
    padding-right: 0;
    padding-left: 0;
}
#registerAddress {
    padding-right: 12px;
}

.birthdatetitle {
    display: none;  /* inline-block */
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    white-space: nowrap;
}
#registerBirthdateWrapper table,
#registerDocumentIssuedDateWrapper table,
#documentIssuedDateWrapper table,
#passportExpiryDateWrapper table {
    width: 100%;
}

#li_passportNumber .radio-inline {
    line-height: 25px;
    font-weight: 700;
}
#ssnDiv .row {
    margin-right: 0;
    margin-left: 0;
}
#ssnDiv .row > div {
    padding-right: 0;
    padding-left: 0;
}
.registerFieldSsn {
    width: 90%;
    display: inline-block;
    padding-right: 12px !important;
}
.ssnDot,
.ssnDash {
    width: 2px;
    display: inline-block;
    margin-left: -2px;
}
.registerFieldSsnNumber {
    width: 100%;
}
#ssnDiv .form-control-feedback {
    top: -5px;
}

#genderMaleLabel,
#genderFemaleLabel {
    width: 50px;
    height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    /* .text-hide { */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    /* } */
}
#genderMaleLabel {
    background: url("../../resources/images/icons/user_male.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
#genderFemaleLabel {
    background: url("../../resources/images/icons/user_female.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

#register_footer {
    border-top: 1px solid #E0E0E0;
    padding-top: 20px;
    margin-top: 20px;
}
#registerTerms1Text {
    margin-bottom: 5px;
}
#accept_user_terms_error {
    min-height: 0;
}
#registerPromocodeWrapper {
    position: relative;
}
#registerPromocodeWrapper .form-control-feedback {
    top: 0;
}
#registerFormMandatory {
    font-size: 10px;
    margin-top: 20px;
}

/* Forget password */

#forgotpasswordWrapper {
    position: relative;
}
#forgetpasswordForm {
    margin-top: 25px;
}
#forgetpasswordForm .form-control {
    display: inline-block;
    width: auto;
}
#forgotpassword_emailWrapper {
    min-height: 51px;
}

/* Contact us */

#contactWrapper {
    position: relative;
}
#contactForm {
    margin-top: 25px;
}
#li_specifySubjectId {
    display: none;
}

/* Login / Register box */

#loginRegisterPopup_left {
    border-right: 1px solid #E0E0E0;
}
#loginRegisterPopup_form {
    margin-top: 25px;
}
#loginRegisterPopup_forgotpassword {
    margin-top: 10px;
}

/* Reset password */

#resetPassword_form {
    margin-top: 25px;
}

/* Game page */

#gamePageWrapper #msg {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 500;
}

#gameWindow,
#gameWindowEmpty {
    width: 100%;
    display: block;
    position: relative;
    border: none;
    margin: 0 auto;
    background: #000;
}
#gameWindow.gameWindowHidden {
    display: block;
    position: absolute;
    left: -9999px;
}
#fullScreenWindow {
    width: 100%;
    height: auto;
    min-width: 768px;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    z-index: 1000;
    background: #000;
}
#fullScreenWindow:-webkit-full-screen { width: 100% }
#fullScreenWindow:-moz-full-screen    { width: 100% }
#fullScreenWindow:-ms-full-screen     { width: 100% }
#fullScreenWindow:-o-full-screen      { width: 100% }
#fullScreenWindow:full-screen         { width: 100% }

#gamePageButtons {
    padding: 10px 10px 0 10px;
}
#gamePageButtons .btn-lg {
    margin-top: 0;
    margin-bottom: 0;
}
#gamePageButton_fullscreen {
    display: none;
}
#gamePageDropdown {
    float: right;
    width: auto;
}
.tempGameLink,
.tempLiveGameLink {
    display: none;
}


/*------------------------------------*\
    $ PAGES (post-login)
\*------------------------------------*/

#myAccountView_top,
#depositView_top {
    margin-bottom: 25px;
}
.accountviewButton {
    float: right;
    margin-left: 5px;
    margin-bottom: 15px;
}

/* Transactions */
#transactions_betting > iframe {
    border: none;
}

/* My Account */

#address_item .row {
    margin-right: -5px;
    margin-left: -5px;
}
#address_item .row > div {
    padding-right: 5px;
    padding-left: 5px;
}
#address {
    padding-right: 12px;
}

#passportNumber_item .row {
    margin-right: 0;
    margin-left: 0;
}
#passportNumber_item .row > div {
    padding-right: 0;
    padding-left: 0;
}
#ssnMyaccYear,
#ssnMyaccMonth,
#ssnMyaccDate,
#ssnMyaccNumber {
    width: 90%;
    display: inline-block;
    padding-right: 12px;
}
.ssnMyaccFirstDot,
.ssnMyaccSecondDot,
.ssnMyaccDash {
    width: 2px;
    display: inline-block;
    margin-left: -2px;
}
#ssnMyaccNumber {
    width: 100%;
    padding-right: 34px;
}

#selectedBankAccountType {
    margin-bottom: 17px;
}

#birthdayConfirmTable.row {
    margin-right: -5px;
    margin-left: -5px;
}
#birthdayConfirmTable.row > div {
    padding-right: 5px;
    padding-left: 5px;
}

#loyaltyDesc {
    margin: 0 auto 20px;
    text-align: center;
}
#loyaltyDesc td > img {
    height: 20px;
}
.aBorderBronze,
.aBorderSilver,
.aBorderGold,
.aBorderVip {
    display: block;
    padding: 10px 15px;
    margin: 5px 10px;
    border: 2px solid;
}
a.aBorderBronze:hover {
    color: #c16e35;
}
a.aBorderSilver:hover {
    color: #a5a5a5;
}
a.aBorderGold:hover {
    color: #f7c300;
}
a.aBorderVip:hover {
    color: #fef601;
}

.hintPic {
    position: absolute;
    z-index: 1000;
    right: 50px;
    top: 0px;
}

#timeLimitForm,
#limitTotalAmountForm {
    margin-bottom: 20px;
}

.rtpOptions {
    overflow: hidden;
    margin-top: 20px;
}
.rtpInfo {
    width: 32%;
    display: block;
    float: left;
    position: relative;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background: #fafafa;
}
.rtpInfo:hover {
    background: #f1f1f1;
}
.rtpInfo + .rtpInfo {
    margin-left: 2%;
}
.rtpPeriod {
    display: block;
    font-size: 12px;
}
.rtpPeriod span {
    display: block;
    font-size: 10px;
    line-height: 7px;
}
.rtpValue {
    display: block;
    font-size: 25px;
    font-weight: bold;
}

/* Bonuses */
#bonusesBalanceInfo .progress {
    height: 32px;
}
#bonusesBalanceInfo .progress-bar {
    color: #000;
    line-height: 32px;
}
#bonusesBalanceInfo .progress-hint span {
    font-weight: 400;
}
#bonus_span {
    display: inline-block;
    vertical-align: middle;
}
#bonus_balance_wrapper {
    padding-left: 5px;
}
#availableBonusesTable_freespins {
    margin-bottom: 0;
}
#availableBonusesTable_freespins td {
    border-top: 0;
}
#availableBonuses .progress-hint span {
    width: 100px;
}
#bonus_balance_wrapper .availableBonusLink {
    white-space: nowrap;
}
.radio-group {
    position: relative;
    vertical-align: middle;
}
.radio-group > .radio {
    position: relative;
    float: left;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    color: #333;
    line-height: 10px;
}
.radio-group > .radio:first-child {
    margin-left: 0;
}
.radio-group > .radio:first-child:not(:last-child) label span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.radio-group > .radio:not(:first-child):not(:last-child) label span {
    border-radius: 0;
}
.radio-group > .radio + .radio label span {
    margin-left: -1px;
}
.radio-group > .radio:last-child:not(:first-child) label span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.radio-group > .radio label {
    padding: 0;
    line-height: 1.42857143;
}
.radio-group > .radio label input {
    left: -9999px;
}
.radio-group > .radio label span {
    padding: 6px 12px;
    position: relative;
    float: left;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.radio-group > .radio label input[type="radio"]:checked + span {
    z-index: 2;
    color: #fff;
    border-color: #357ebd;
    background-color: #428bca;
}



/* Deposit */

#amountOptions:after {
    content: "";
    display: table;
    clear: both;
}
#deposit2_paymentForm_wrapper.bordered {
    border-right: 1px solid #E0E0E0;
}
#deposit2_amountForm_wrapper.bordered {
    border-left: 1px solid #E0E0E0;
}
#deposit2_paymentForm,
#deposit2_amountForm {
    margin-bottom: 20px;
}
.depositRadio {
    margin-top: 22px !important;
}
.depositImg {
    display: block;
    height: 50px;
    width: 192px;
}
#amountOptions label {
    font-weight: 700;
}
#amountOptions .exchange,
.confirmationDiv .exchange {
    display: inline-block;
    margin-left: 10px;
    color: #999;
    font-size: 12px;
    font-weight: normal;
}
#amountOptions .exchange:before,
.confirmationDiv .exchange:before {
    content: '= ';
}
#deposit2_amountGroupWrapper {
    margin-bottom: 20px;
}
#deposit2_amountGroup {
    min-height: 0;
    position: relative;
    vertical-align: middle;
}
#amount_range {
    position: absolute;
    color: inherit;
}
#deposit2_doublezeros {
    width: 50px;
}
#deposit2_campaignsFieldContainer,
#deposit2_promoFieldContainer {
    margin-top: 15px;
}
#cvc {
    margin-top: 10px;
    margin-bottom: 10px;
}
#providerRegister {
    font-weight: 700;
}
#securePayment,
.secureWithdrawal {
    font-weight: 700;
}
#serurityLock {
    margin-right: 5px;
    margin-top: -4px;
}
#storedPayments {
    margin-bottom: 10px;
}

/* Withdrawal */

.hrWithdraw {
    border-color: #E0E0E0;
    margin-top: 0;
    margin-bottom: 17px;
}
#withdrawalAmountWrapper .row {
    margin-right: -5px;
    margin-left: -5px;
}
#withdrawalAmountWrapper .row > div {
    padding-right: 5px;
    padding-left: 5px;
}
#withdrawalAmountDecimalDotText {
    position: absolute;
    top: 7px;
    left: -1px;
}
.confirmationDiv {
    padding: 15px;
}
.totalAmount > td {
    border-top: 2px solid #444444 !important;
    font-weight: bold;
    padding-top: 15px !important;
}
.withdrawalNote {
    position: absolute;
    min-width: 500px;
}


/*------------------------------------*\
    $ OTHER
\*------------------------------------*/

/* ZendBox */

#zenbox_tab {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Site's main HEADING */

#headerchat {
    display: none;
}

/* Language switcher */

#changeLanguage_msdd {
    width: 200px !important;
}
.flag {
    height: 20px;
    width: 20px;
}
.hiddenLangOpt {
    display: none !important;
}
.ddcommon .text {
    display: none !important;
}

/* Progress indicators */

#progressIndicatorBackground, #preLoaderBackground {
    display: none;
    height: auto;
    width: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9000;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
}
#progressIndicator, #preLoader {
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 9200;
}

/* FAQ -page */

.faq {
    margin: 25px 0 25px 0;
}
.faq h3 {
    font-size: 1.2em;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}
.faq h4 {
    font-size: 1em;
    margin: 0.5em 0 0.5em 0.5em;
    cursor: pointer;
}
.faq h4:hover {
    color: #F6821F
}
.faq p {
    margin: 1em 0 1em 1.5em;
}

/* Phone numbers in contact form */

.phone1 {
    color: rgba(255,103,15,1);
}
.phone2 {
    color: rgba(255,103,15,1);
    font-size: 1.4em;
}
.phone3 {
    color: #aaaaaa;
}

/* Game-specific backgrounds if used fancyboxBkg -game opening logic */

#gameBkgWrapper {
    width: 150%;
    position: relative;
    left: -25%;
}
#gameBackground {
    width: 100%;
    max-width: 100%;
    display: none;
}

/* Social media feed blocks */

.feedBlock {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    min-height: 300px;
    background: red;
}
.newsFeedElem {
    display: none;
}
.newsPublished {
    margin: 13px 0 13px;
}
.newsDate, .newsContentWrapper {
    display: inline-block;
}
.newsDate {
    width: 20%;
    vertical-align: top;
}
.newsContentWrapper {
    width: 70%;
    margin-left: 10px;
}
.newsReadMoreLink {
    display: block;
    margin: 13px 0 13px 0;
}
.newsTitle {
    font-weight: bold;
}

/* Promotions banner and its elements */

#promotionsBanner {
    text-align: center;
}
#promotionsBanner img {
    height: auto;
    display: inline-block;
    max-width: 100%;
}

/* Newsletter joining element */

#newsLetterJoin {
    margin-top: 1em;
    position: relative;
    height: 100px;
}
#newsletter_form {
    font-size: 1.2em;
}
#newsLetterJoin fieldset {
    display: block;
    float: left;
    color: #7b807f;
    font-size: .75em;
    font-weight: bold;
    border: 2px solid #bbbbbb;
    box-shadow: inset 2px 2px 2px #dddddd;
    text-transform: uppercase;
    padding: 0.8em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#newEmail {
    width: 100%;
    padding: 5px;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border: 1px solid #fff;
    box-shadow: inset 2px 2px 2px #ddd;
    margin: 5px 0 15px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#newsletterButton {
    font-size: 1.2em;
    margin: 0 1em;
    text-shadow: none;
}
#newsletterConfirm_content {
    width: 250px;
    font-size: 1.2em;
    overflow: hidden;
    padding: 0 20px 0 20px;
    height: 100px;
}

/* Share icons */

.someIcon {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 0 8px 0 0;
}
#gotoFb {
    color: #4066bb;
}
#gotoTwitter {
    color: #64c6e9;
}
#gotoGplus {
    color: #c13d31;
}

/* Slide down -pages and the links */

.slidecloseicon {
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    right: 0;
    top: 0;
}
.slideelement {
    width: 100%;
    background: yellow;
    margin-top: 30px;
    position: relative;
}

/* Quick Deposit form */

#quickDepositFormPlaceholder {
    clear: both;
}
#quickDepositFormWrapper {
    margin-top: 20px;
}
#quickDepositMethodsDropdown {
    min-width: 0;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}
#quickDepositMethodsDropdown label {
    margin-bottom: 0;
}

/* One Click Deposit widget */

#one-click-deposit-widget {
    display: inline-block;
    vertical-align: middle;
}
#one-click-deposit-widget.active + #gamePageButton3 {
    display: none;
}
#one-click-deposit-cards-dropdown label {
    margin-bottom: 0;
    padding: 6px 18px;
}
#one-click-deposit-cards-dropdown {
    display: inline-block;
    position: relative;
}
#one-click-deposit-cards {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
}
#one-click-deposit-cards-dropdown:hover #one-click-deposit-cards {
    display: block;
}
#one-click-deposit-amount {
    display: inline-block;
    width: auto;
}
#one-click-deposit-form .form-group {
    min-height: inherit;
    margin-bottom: 7px;
}
#one-click-deposit-card {
    display: inline-block;
}
#one-click-deposit-campaigns-dropdown {
    display: inline-block;
}
#one-click-deposit-campaigns-dropdown .form-control-feedback {
    top: 0;
}
#one-click-deposit-campaigns-dropdown .field-info {
    white-space: normal;
}
#one-click-deposit-campaigns {
    display: inline-block;
    width: auto;
}
#one-click-deposit .one-click-deposit-details {
    padding: 10px 16px;
    margin: 0;
    white-space: nowrap;
}
#one-click-deposit-title {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/* Points Converting form */

#pointsConvertingFormWrapper {
    margin-top: 20px;
}
#pointsConvertingRate {
    margin-right: 50px;
    font-size: 10px;
    text-align: right;
}
#pointsConvertingSubmit {
    width: 100%;
}

/* Funds widget */

#funds-widget {
    display: inline-block;
}
#funds-widget .funds-details {
    padding: 10px 16px;
    margin: 0;
    white-space: nowrap;
}
#funds-widget .funds-details li {
    position: relative;
    padding-right: 80px;
}

#funds-widget .funds-details span + span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
#funds-widget .text:after {
    content: ':';
}
#funds-widget .title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#funds-widget .title .text:after {
    content: '';
}
#funds-widget .refresh-btn {
    cursor: pointer;
}
#funds-widget .refresh-btn:active {
    color: #ccc;
}
#funds-widget .total {
    font-weight: bold;
}
#funds-widget .real {
    margin-top: 10px;
}

/* Available campaigns indicator and tab on my profile page */

#availableCampaignsIndicator {
    display: inline-block;
    vertical-align: middle;
}
#availableCampaignsLink {
    color: #555;
    text-decoration: none;
}
#availableCampaignsNumber {
    margin-right: -1px;
}

#campaignsInfoHeader {
    margin-bottom: 15px;
}
#campaignsInfo {
    margin-right: -2%;
}
#campaignsInfo:after {
    content: '';
    display: table;
    clear: both;
}
#campaignsInfo .campaignBlock {
    width: 48%;
    display: block;
    float: left;
    padding: 10px;
    margin: 0 2% 2% 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background: #fafafa;
}
#campaignsInfo .campaignBlock:nth-child(2n-1) {
    clear: left;
}
#campaignsInfo .campaignBlock:hover {
    background: #f1f1f1;
}
#campaignsInfo .campaignTitle {
    margin-top: 0;
    font-weight: bold;
}
#campaignsInfo .campaignTurnover {
    color: #888;
    font-size: 11px;
}
#campaignsInfo .campaignConditions {
    margin-bottom: 0;
}

/* Bonuses tab on my profile page */

#promotionsHistoryLink {
    margin-left: 30px;
    color: #333;
}
#wagering_requirement_wrapper {
    margin-bottom: 0 !important;
}

/* BIA bonuses */

#biaBonusDropdown {
    display: inline-block;
    vertical-align: middle;
}
#biaBonusIndicator {
    color: #555;
    cursor: pointer;
}
#biaBonusDropdown.dropdown-off #biaBonusIndicator {
    cursor: auto;
}
#biaBonusDropdown.dropdown .dropdown-menu {
    min-width: 240px;
}
#rollover_requirement_wrapper {
    margin-bottom: 0 !important;
}

/* Login history tab */

#loginHistory ul.list-unstyled,
#loginHistory #loginHistoryTitle {
    display: none; /* temporary hide until API doesn't have from-to params */
}


/*------------------------------------*\
    $ RESPONSIVENESS (inheritable)
\*------------------------------------*/

.form-group.block-xxs,
.checkbox.block-xxs {
    display: block;
}
.form-group.block-xxs .form-control,
.checkbox.block-xxs .form-control {
    display: block;
    width: 100%;
}
.form-group.inline-block-xxs,
.checkbox.inline-block-xxs {
    display: inline-block;
}
.form-group.inline-block-xxs .form-control,
.checkbox.inline-block-xxs .form-control {
    display: inline-block;
    width: auto;
}

/* XS */

@media (min-width: 480px) {

    .form-group.block-xs,
    .checkbox.block-xs {
        display: block;
    }
    .form-group.block-xs .form-control,
    .checkbox.block-xs .form-control {
        display: block;
        width: 100%;
    }
    .form-group.inline-block-xs,
    .checkbox.inline-block-xs {
        display: inline-block;
    }
    .form-group.inline-block-xs .form-control,
    .checkbox.inline-block-xs .form-control {
        display: inline-block;
        width: auto;
    }

}

/* SM */

@media (min-width: 768px) {

    .form-group.block-sm,
    .checkbox.block-sm {
        display: block;
    }
    .form-group.block-sm .form-control,
    .checkbox.block-sm .form-control {
        display: block;
        width: 100%;
    }
    .form-group.inline-block-sm,
    .checkbox.inline-block-sm {
        display: inline-block;
    }
    .form-group.inline-block-sm .form-control,
    .checkbox.inline-block-sm .form-control {
        display: inline-block;
        width: auto;
    }

}

/* MD */

@media (min-width: 992px) {

    .form-group.block-md,
    .checkbox.block-md {
        display: block;
    }
    .form-group.block-md .form-control,
    .checkbox.block-md .form-control {
        display: block;
        width: 100%;
    }
    .form-group.inline-block-md,
    .checkbox.inline-block-md {
        display: inline-block;
    }
    .form-group.inline-block-md .form-control,
    .checkbox.inline-block-md .form-control {
        display: inline-block;
        width: auto;
    }

}

/* LG */

@media (min-width: 1200px) {

    .form-group.block-lg,
    .checkbox.block-lg {
        display: block;
    }
    .form-group.block-lg .form-control,
    .checkbox.block-lg .form-control {
        display: block;
        width: 100%;
    }
    .form-group.inline-block-lg,
    .checkbox.inline-block-lg {
        display: inline-block;
    }
    .form-group.inline-block-lg .form-control,
    .checkbox.inline-block-lg .form-control {
        display: inline-block;
        width: auto;
    }

}


/*------------------------------------*\
    $ RESPONSIVENESS (main)
\*------------------------------------*/

@media (max-width: 479px) {

    /* Main menu */

    #homelink {
        float: none;
        margin-right: 0;
        text-align: center;
    }
    .nav-pills > li {
        float: none;
        margin-left: 0;
        text-align: center;
    }

    /* Forms */

    .form-horizontal .form-group {
        min-height: 77px;
    }
    .form-horizontal .form-group .control-label {
        padding-top: 0;
    }

    /* Login / Register box */

    #loginRegisterPopup_left {
        border-right: none;
    }

    /* Deposit page */

    #deposit2_paymentForm_wrapper.bordered {
        border-right: none;
    }
    #deposit2_amountForm_wrapper.bordered {
        border-left: none;
    }

    /* Games Search */

    #gamesSearchSorting,
    #gamesSearchFiltering {
        display: block;
    }

}

/* XS */

@media (min-width: 480px) and (max-width: 767px) {

    /* Forms */

    .form-horizontal .form-group {
        min-height: 77px;
    }
    .form-horizontal .form-group .control-label {
        padding-top: 0;
    }

    /* Login / Register box */

    #loginRegisterPopup_left {
        border-right: none;
    }

    /* Deposit page */

    #deposit2_paymentForm_wrapper.bordered {
        border-right: none;
    }
    #deposit2_amountForm_wrapper.bordered {
        border-left: none;
    }

    /* Games Search */

    #gamesSearchSorting,
    #gamesSearchFiltering {
        display: block;
    }

}

/* SM */

@media (min-width: 768px) and (max-width: 991px) {

}

/* MD */

@media (min-width: 992px) and (max-width: 1199px) {

}

/* LG */

@media (min-width: 1200px) {

}
